**/.DS_Store

# Third-party python bytecode
**/*.pyc
**/*.pyd
**/*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.iml

# generated but unused nunavut dsdls
tool/UAVCAN/public_regulated_data_types/dsdl/**/*.h