# Auto detect text files and perform LF normalization
* text=auto

# Ignore third party codes
src/ThirdParty/* linguist-vendored

# Ignore test and tool folders
test/* linguist-vendored
tool/* linguist-vendored